{
    "useTabs": false,
    "tabs": true,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "semi": true,
    "maxLineLength": 120
}
