@mixin text-body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 24px;
  color: $secondary;
}

@mixin text-link {
  @include text-body();
  font-weight: 500;
  color: $primary;
  cursor: pointer;
  text-decoration: none;
}

@mixin text-body--small {
  @include text-body();
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

@mixin text-body--bold {
  @include text-body();
  font-weight: 500;
}

@mixin text-tag {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

@mixin text-caption {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  line-height: 21px;
}

@mixin text-caption--bold {
  @include text-caption();
  font-weight: 600;
}

@mixin text-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin text-cta {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@mixin text-cta--thin {
  @include text-cta;
  font-weight: 400;
}

@mixin text-cta--disabled {
  @include text-cta;
  color: $secondary-faded-1;
}

@mixin text-h1 {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
}

@mixin text-h2 {
  font-family: $base-font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
}

@mixin text-subtitle {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 125% */
  letter-spacing: 0;
}

@mixin char-limit($charLimit) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $charLimit;
}
